@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/LogIn.css">
    <title>Inciar Sesión</title>
</head>
<body class="BodyLogIn">
    <div class="ContentBodyLogIn">
        <div class="DivNavBarLogIn">
            <nav class="NavBarLogIn">
                <div class="LinkLogoLogIn">
                    <a asp-controller="Home" asp-action="Index"><img class="ImageLogo" src="~/images/Logo.webp" alt="Logotipo" /></a>
                </div>
                <div class="DivLinkLogIn">
                    <a asp-controller="User" asp-action="LogIn" class="LinkLogIn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login-2 IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="LinkTextLogIn">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkLogIn">
                    <a asp-controller="User" asp-action="UserInfo" class="LinkLogIn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="LinkTextLogIn">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkLogIn">
                    <a asp-controller="Vehicle" asp-action="VehiclesInfo" class="LinkLogIn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="LinkTextLogIn">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkLogIn">
                    <a asp-controller="Rental" asp-action="RentalHistory" class="LinkLogIn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-history IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 8l0 4l2 2" />
                            <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                        </svg>
                        <span class="LinkTextLogIn">Ver Mis Alquileres</span>
                    </a>
                </div>
                <div class="DivLinkLogIn">
                    <a asp-controller="User" asp-action="LogOut" class="LinkLogIn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="LinkTextLogIn">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContentLogIn">
            <div class="DivHeaderLogIn">
                <header class="HeaderLogIn">
                    <h1 class="MainTitlelLogIn">Alquiler de Vehículos</h1>
                </header>
            </div>
            <div class="DivMainContentLogIn">
                <div class="DivMainLogIn">
                    <main role="main" class="MainLogIn">
                        <div class="ContentMainLogIn">
                            <div class="DivFormTitle">
                                <h2 class="FormTitle">Iniciar Sesión</h2>
                            </div>
                            @if (ViewBag.Message != null)
                            {
                                <h3 class="ErroViewBag">@ViewBag.Message</h3>
                            }
                            <form asp-controller="User" asp-action="LogInAction" method="post" class="Formulario">
                                <div class="Component">
                                    <input class="TextInput" type="email" placeholder="Correo" name="UserEmail" id="Correo" required="" />
                                    <label for="Correo" class="LabelForm">Correo</label>
                                </div>
                                <div class="Component">
                                    <input class="TextInput" type="password" placeholder="Contraseña" name="UserPassword" id="Contrasena" required />
                                    <label for="Contrasena" class="LabelForm">Contraseña</label>
                                </div>
                                <div class="KeepSessionComponent">
                                    <div class="KeepSessionDiv">
                                        <input id="KeepSessionButton" name="KeepSession" type="checkbox">
                                        <label class="KeepSessionLabel" for="KeepSessionButton">
                                            ¿Desea mmantener la sesión iniciada?
                                        </label>
                                    </div>
                                </div>
                                <div class="Component BtnBtnLogIn">
                                    <input type="submit" value="Iniciar Sesión" class="BtnIniciarSesion" />
                                </div>
                            </form>
                            <div class="Component">
                                <p>¿No tienes cuenta? <a asp-controller="User" asp-action="SignIn">Crea una</a></p>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterLogIn">
                <footer class="FooterLogIn">
                    <span class="TextFooterLogIn">
                        &copy; 2024 - Alquiler de Vehículos por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>