:root {
    --Font: "Geologica", sans-serif;
    --FirstColor: #1FE0B7;
    --SecondColor: #1649E0;
    --ThirdColor: #1FCAE0;
    --FourthColor: #69D3E0;
    --FifthColor: #04E067;
    --SixthColor: #1F8DE0;
    --Wihte: #FFFFFF;
    --Black: #000000;
}

/*------------------------------------- GENERAL -------------------------------------*/

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--Font);
    text-transform: uppercase;
}

.BodyRentalInfo {
    height: 100vh;
}

.ContentBodyRentalInfo {
    height: 100%;
    width: 100%;
    display: flex;
}

/*------------------------------------- NAVIGATION -------------------------------------*/

.DivNavBarRentalInfo {
    width: 15%;
    display: flex;
}

.NavBarRentalInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--SecondColor);
}

.DivLinkLogoRentalInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageLogo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: solid 7px var(--FifthColor);
}

.DivLinkRentalInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkRentalInfo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    border: solid 5px transparent;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}


.IconLinkSVG {
    filter: drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte));
}

.LinkTextRentalInfo {
    color: var(--Black);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.LinkRentalInfo:hover .LinkTextRentalInfo {
    opacity: 1;
}

.LinkRentalInfo:hover .IconLinkSVG {
    filter: none;
}

.LinkRentalInfo:hover {
    background-color: var(--FourthColor);
    border-color: var(--FifthColor);
}

/*------------------------------------- CONTENT -------------------------------------*/

.DivContentRentalInfo {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--FirstColor);
}

.DivHeaderRentalInfo {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.HeaderRentalInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainTitlelRentalInfo {
    text-align: center;
    font-size: 4rem;
}

.DivMainContentRentalInfo {
    height: 85%;
    width: 100%;
    overflow: hidden;
}

.DivMainRentalInfo {
    height: 100%;
    width: 100%;
}

.MainRentalInfo {
    height: 100%;
    width: 100%;
}

.ContentMainRentalInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
