:root {
    --Font: "Geologica", sans-serif;
    --FirstColor: #1FE0B7;
    --SecondColor: #1649E0;
    --ThirdColor: #1FCAE0;
    --FourthColor: #69D3E0;
    --FifthColor: #04E067;
    --SixthColor: #1F8DE0;
    --Wihte: #FFFFFF;
    --Black: #000000;
}

/*------------------------------------- GENERAL -------------------------------------*/

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--Font);
    text-transform: uppercase;
}

.BodySignIn {
    height: 100vh;
}

.ContentBodySignIn {
    height: 100%;
    width: 100%;
    display: flex;
}

/*------------------------------------- NAVIGATION -------------------------------------*/

.DivNavBarSignIn {
    width: 15%;
    display: flex;
}

.NavBarSignIn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--SecondColor);
}

.DivLinkLogoSignIn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageLogo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: solid 7px var(--FifthColor);
}

.DivLinkSignIn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkSignIn {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    border: solid 5px transparent;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}


.IconLinkSVG {
    filter: drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte));
}

.LinkTextSignIn {
    color: var(--Black);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.LinkSignIn:hover .LinkTextSignIn {
    opacity: 1;
}

.LinkSignIn:hover .IconLinkSVG {
    filter: none;
}

.LinkSignIn:hover {
    background-color: var(--FourthColor);
    border-color: var(--FifthColor);
}

/*------------------------------------- CONTENT -------------------------------------*/

.DivContentSignIn {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--FirstColor);
}

.DivHeaderSignIn {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.HeaderSignIn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainTitlelSignIn {
    text-align: center;
    font-size: 4rem;
}

.DivMainContentSignIn {
    height: 85%;
    width: 100%;
    overflow: hidden;
}

.DivMainSignIn {
    height: 100%;
    width: 100%;
}

.MainSignIn {
    height: 100%;
    width: 100%;
}

.ContentMainSignIn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.DivFormTitle {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormTitle{
    margin: 0;
}

.DivErrorViewBag {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ErroViewBag {
    margin: 0;
    color: red;
}

.DivFormSignIn {
    width: 70%;
    height: 80%;
    background: var(--SixthColor);
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

    .DivFormSignIn::before {
        content: '';
        position: absolute;
        width: 200px;
        background-image: linear-gradient(180deg, var(--Black), var(--Wihte));
        height: 215%;
        animation: BackgroundRotation 3s linear infinite;
        transition: all 0.2s linear;
    }

@keyframes BackgroundRotation {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.DivFormSignIn::after {
    content: '';
    position: absolute;
    background: var(--ThirdColor);
    inset: 5px;
    border-radius: 15px;
}

.FormSigIn {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.DivForTwoComponents{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Component {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.DivLogIn {
    width: 100%;
    height: 5%;
    z-index: 2;
    margin: 15px;
}

.TextLogIn {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.TextLinkLogIn {
    text-decoration: none;
    color: var(--Black);
    transition: .5s;
}

    .TextLinkLogIn:hover {
        color: var(--Wihte);
        font-size: 25px;
    }

.LabelForm {
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
}

.RegisterButton {
    font-family: var(--Font);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    padding: 5px 0;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.8s;
    border: 2px solid var(--SecondColor);
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 var(--SecondColor);
}

.RegisterButtonEnabled:hover {
    color: var(--Wihte);
    box-shadow: inset 0 -100px 0 0 var(--SecondColor);
}

.RegisterButtonEnabled:active {
    transform: scale(0.9);
}

.TextInput {
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    width: 350px;
    padding: 0;
    text-indent: 20px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
    padding-right: 15px;
    font-family: var(--Font);
}

    .TextInput:focus {
        border: solid 4px var(--SecondColor);
    }

        .TextInput:focus ~ label {
            color: var(--SecondColor);
            font-size: 25px;
        }

.FormSelect {
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    width: 350px;
    text-indent: 20px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
    font-family: var(--Font);
}

.FormSelectOption {
    font-weight: bold;
    font-family: var(--Font);
}

.FormSelect:focus {
    border: solid 4px var(--SecondColor);
}

    .FormSelect:focus ~ label {
        color: var(--SecondColor);
        font-size: 25px;
    }